@media (max-width: 361px) {
    /* admin */
    .container{
        margin-inline: 15px;
        justify-content: center;
    }
    /* main */
    .logo span {
    font-size: 1rem;}
    .menu li a{
    font-size: 1rem;}
    .slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    padding-bottom: 30px;
    z-index: 2;
    margin-bottom: 10px;
}
    .game-title {
    font-size: 1.5;}
    .game-price {
    font-size: 1.5rem;}
    .info-btn {
        padding: 0;
        font-size: 0.5rem;}
    .fast-search{
        font-size: 3rem;}
    .filters li{
    font-size: 1.2rem;}
    .search-input{
    width: 75%;
    font-size: 1rem;}
    .containers{
        margin-left: 0px;
    }
    .why{
    font-size: 2rem;}
    .point strong{
    font-size: 1rem;}
    .point p{
    font-size: 1rem;}
    .popular{
    font-size: 2.5rem;}
    h5{
    font-size: 1.2rem;}
    .company{
    font-size: 1rem;}
    .h2-part{ 
    font-size: 2.5rem;}
    .feadback strong{
    font-size: 0.8rem;}
    .feadback a, p{
    font-size: 0.7rem;}


    /* profil */
    .card-buy{display: block;}
}



@media (max-width: 768px) {
    /* register */

    /* profil */
.container-double{
    display: block;
}
.container-profil{
    text-align: center;
    min-height: auto;
    border-right: none;
}
button{
    width: 50%;
    height: 20px;
}

.card-buy *{
    font-size: 1.5rem;
    font-weight: 300;
}

.card-buy img{
    padding-left: 20px;
    height: 100%;
}


.container-register{
    margin-block: 400px;
}


/* header */
    .burger{
        display: flex; /* Показываем бургер на мобильных */
    }
    
    .menu{
        display: none; /* Скрываем десктопное меню */
    }
    
    .mobile-menu{
        display: block; /* Показываем мобильное меню */
    }
}
@media (min-width: 769px) {
    .mobile-menu{
        display: none;
    }
}



@media (max-width: 1920px) {
    
}