
/* Контейнер */
        .container {
            
            max-width: 800px;
            min-height: 800px;
            margin: 0 auto;
            background: white;
            border-radius: 8px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            padding: 30px;
            margin-block: 200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
        }
        
        .add-card{
            background: rgb(255, 255, 255);
            border-radius: 25px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            width: 200px;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .krug{
            width: 100px;
            height: 100px;
            background: rgb(231, 231, 231);
            border-radius: 50%;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            text-align: center;
            align-items: center;
        }

        .plus {
            width: 100%;            
        }
        
        .plus p{
            margin: 0;
            font-size: 3rem;}

        .container2{

            
            width: 100%;
            height: 1000px;
        }

        .container2{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            z-index: 1000;
            justify-content: center;
            align-items: center;
            display: none;
        }

        /* Показываем форму когда нажата ссылка с якорем #form */
        .container2:target {
            display: flex;
        }

        /* Стили для формы */
        .forma {
            background: white;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            width: 90%;
            max-width: 800px;
            max-height: 90vh;
            overflow-y: auto;
            position: relative;

        }

        .forma h2, input, button, textarea{
            width: 95%;
            height: 30px;
            margin: 15px;
            border-radius: 8px;
            border-color: grey;
            color: black;
        }

        .close-btn{
            font-size: 2rem;
        }